<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1>Products</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Brand</th>
                    <th>Category</th>
                    <th>Created Date</th>
                    <th>Description</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.brand}"></td>
                    <td th:text="${product.category}"></td>
                    <td th:text="${product.create_date}"></td>
                    <td th:text="${product.description}"></td>
                    <!-- Display image -->
                    <td>
                        <img th:src="@{'/images/' + ${product.image_filename}}" alt="Product Image" style="max-width: 100px; max-height: 100px;">
                    </td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td>
                        <a class="btn btn-primary" th:href="@{/edit/{id}(id=${product.id})}">Edit</a>
                        <a class="btn btn-danger" th:href="@{/delete/{id}(id=${product.id})}">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
		<div class="container">
		    <div class="row">
		        <div class="col text-center">
		            <a class="btn btn-success" th:href="@{/create}">Create Product</a>
		        </div>
		    </div>
		</div>
    </div>
</body>
</html>